[submodule "GC"]
	path = GC
	url = git@github.com:IDWMaster/GC.git
[submodule "UALCompiler"]
	path = UALCompiler
	url = git@github.com:IDWMaster/UALCompiler.git
[submodule "asmjit"]
	path = asmjit
	url = https://github.com/kobalicek/asmjit.git
